{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'loan.list.startDate'|trans }}</th>
            <th scope="col">{{ 'loan.list.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
            <tr>
                <th scope="row">{{ loan.id }}</th>
                <td>{{ loan.startDate|date('Y-m-d') }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('loan_show', {id: loan.id}) }}">{{ 'loan.details'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}