{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'payments.date'|trans }}</th>
            <th scope="col">{{ 'payments.total'|trans }}</th>
            <th scope="col">{{ 'payments.totalPercent'|trans }}</th>
            <th scope="col">{{ 'payments.totalLoan'|trans }}</th>
            <th scope="col">{{ 'payments.balance'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
            <tr>
                <th scope="row">{{ payment.id }}</th>
                <td>{{ payment.paymentDate|date('Y-m-d') }}</td>
                <td>{{ payment.sumPercent + payment.sumLoan }}</td>
                <td>{{ payment.sumPercent }}</td>
                <td>{{ payment.sumLoan }}</td>
                <td>{{ payment.balance }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}